$body-bg: #f1f1f1;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


.task-form {
    width: 100%;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

@include media-breakpoint-up(lg) {
    .task-form {
        width: 50%;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}
